<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Krajowy Rejestr Rozwoju</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
    <style>
      .custom-bg {
        background-color: #f8f9fa;
      }
    </style>
  </head>

  <body>
    <section class="hero custom-bg" style="min-height: 100vh">
      <div class="hero-body">
        <div class="container has-text-centered">
          {% block content %} {% endblock %}
        </div>
      </div>
      <br /><br /><br />
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <figure class="image is-128x128 is-centered is-inline-block">
            <img src="https://stocznia.org.pl/app/uploads/2017/03/NCBR-logo.png" />
          </figure>
        </div>
        <div class="column has-text-centered">
          <figure class="image is-128x128 is-centered is-inline-block">
            <img src="https://www.bgk.pl/assets/images/bgk-logo.svg" />
          </figure>
        </div>
        <div class="column has-text-centered">
          <figure class="image is-128x128 is-centered is-inline-block">
            <img
              src="https://pfr.pl/dam/jcr:769011ac-e321-4186-89e7-9a9eeb6b036f/PARP.2021-01-12-12-15-04.svg"
            />
          </figure>
        </div>
        <div class="column has-text-centered">
          <figure class="image is-128x128 is-centered is-inline-block">
            <img
              src="https://arp.pl/static/images/svg/arp-logo-30-lat.1dea7f320d04.svg"
            />
          </figure>
        </div>
        <div class="column has-text-centered">
          <figure class="image is-128x128 is-centered is-inline-block">
            <img
              src="https://prowly-uploads.s3.eu-west-1.amazonaws.com/uploads/3631/assets/7251/logotyp-pfr.jpg"
            />
          </figure>
        </div>
        <div class="column has-text-centered">
          <figure class="image is-128x128 is-centered is-inline-block">
            <img src="https://www.polskawschodnia.gov.pl/media/48311/FE_POPW.jpg" />
          </figure>
        </div>
      </div>
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Krajowy Rejestr Rozwoju</strong> wykonany przez zespół
            <a href="https://bards.ai/">Bards</a>
          </p>
        </div>
      </footer>
    </section>
  </body>
</html>
