{% extends "base.html" %} {% block content %}
<h2>
  <a href="{{ url_for('main.index') }}"> Powrót do strony głównej </a>
</h2>
<br /><br />
<h1 class="title">Firma o podanym nipie: {{ nip }} nie istnieje!</h1>
<h2>Popraw swoje wyszukiwanie i wróć do nas!</h2>
{% endblock %}
