{% extends "base.html" %} {% block content %}
<h1 class="title">
  Wyszukaj finansowanie i wiele innych dla swojej firmy! Wystarczy podać NIP!
</h1>
<form method="POST" action="/search">
  <div class="field">
    <label for="nip">NIP Twojej firmy:</label><br /><br />
    <input
      class="input is-rounded is-medium"
      style="width: 33%"
      type="text"
      id="nip"
      name="nip"
      placeholder="Podaj NIP firmy:"
      autofocus=""
    />
  </div>
  <br />
  <div class="field">
    <label for="types">Wybierz kategorię przedsiębiorstwa :</label>
    <select id="types" name="type">
      <option value="micro">Mikroprzedsiębiorstwo</option>
      <option value="research_unit">Jednostka badawcza</option>
      <option value="consortium">Konsorcjum</option>
      <option value="large_enterprise">Duże przedsiębiorstwo</option>
    </select>
  </div>

  <div class="field">
    Jakie informacje chciałbyś dostać?<br />
    <input type="checkbox" name="info" value="Fin" checked /> Finansowanie
    <input type="checkbox" name="info" value="Roz" checked /> Rozwój firmy
    <input type="checkbox" name="info" value="Eks" checked /> Ekspansja zagraniczna
    <input type="checkbox" name="info" value="Pak" checked /> Pakiet pomocowy Covid<br />
    <input type="checkbox" name="info" value="Inw" checked /> Inwestycje
    <input type="checkbox" name="info" value="Fun" checked /> Fundusze VC
    <input type="checkbox" name="info" value="Inn" checked /> Inne
  </div>
  <div class="buttons is-centered">
    <button class="button is-block is-info">Wyszukaj!</button>
  </div>
</form>
<br />
<br />
<h2 class="title">
  Jeszcze nie masz firmy i zastanawiasz się gdzie najlepiej zacząć? <br />
</h2>
<center>
  <form method="get" action="/new_company">
    <button class="button is-block is-info" type="submit">
      Przejdź do wyszukiwania po kategoriach!
    </button>
  </form>
  <br /><br />
</center>
{% endblock %}
