{% extends "base.html" %} {% block content %}

<h2>
  <a href="{{ url_for('main.index') }}"> Powrót do strony głównej </a>
</h2>
<br /><br />

<h1 class="title">Wyszukaj jakie finansowanie możesz uzyskać dla danego działu!</h1>
<form method="POST" action="/search_new">
  <h2>Wybierz tematykę działalności, którą chciałbyś się zajmować</h2>
  <select id="pkds" name="pkd" size="15" multiple>
    <option value="A">Rolnictwo, leśnictwo, łowiectwo i rybactwo</option>
    <option value="B">Górnictwo i wydobywanie</option>
    <option value="C">Przetwórstwo przemysłowe</option>
    <option value="D">
      Wytwarzanie i zaopatrywanie w energię elektryczną, gaz, parę wodną, gorącą wodę i
      powietrze do układów klimatyzacyjnych
    </option>
    <option value="E">
      Dostawa wody; gospodarowanie ściekami i odpadami oraz działalność związana z
      rekultywacją
    </option>
    <option value="F">Budownictwo</option>
    <option value="G">
      Handel hurtowy i detaliczny; naprawa pojazdów samochodowych, włączając motocykle
    </option>
    <option value="H">Transport i gospodarka magazynowa</option>
    <option value="I">
      Działalność związana z zakwaterowaniem i usługami gastronomicznymi
    </option>
    <option value="J">Informacja i komunikacja</option>
    <option value="K">Działalność finansowa i ubezpieczeniowa</option>
    <option value="L">Działalność związana z obsługą rynku nieruchomości</option>
    <option value="M">Działalność profesjonalna, naukowa i techniczna</option>
    <option value="N">
      Działalność w zakresie usług administrowania i działalność wspierająca
    </option>
    <option value="O">
      Administracja publiczna i obrona narodowa; obowiązkowe zabezpieczenia społeczne
    </option>
    <option value="P">Edukacja</option>
    <option value="Q">Opieka zdrowotna i pomoc społeczna</option>
    <option value="R">Działalność związana z kulturą, rozrywką i rekreacją</option>
    <option value="S">Pozostała działalność usługowa</option>
    <option value="T">
      Gospodarstwa domowe zatrudniające pracowników; gospodarstwa domowe produkujące
      wyroby i świadczące usługi na własne potrzeby
    </option>
    <option value="U">Organizacje i zespoły eksterytorialne</option>
  </select>
  <br />
  <br />
  <br />
  <div class="field">
    Czy chcesz prowadzić firmę na terenie województw: podlaskiego, podkarpackiego,
    lubelskiego lub świętokrzyskiego<br />
    <input type="checkbox" name="wschod" value="tak" /> Tak
  </div>
  <br />
  <div class="field">
    Jakie informacje chciałbyś dostać?<br />
    <input type="checkbox" name="info" value="Fin" checked /> Finansowanie
    <input type="checkbox" name="info" value="Roz" checked /> Rozwój firmy
    <input type="checkbox" name="info" value="Eks" checked /> Ekspansja zagraniczna
    <input type="checkbox" name="info" value="Pak" checked /> Pakiet pomocowy Covid<br />
    <input type="checkbox" name="info" value="Inw" checked /> Inwestycje
    <input type="checkbox" name="info" value="Fun" checked /> Fundusze VC
    <input type="checkbox" name="info" value="Inn" checked /> Inne
  </div>
  <div class="buttons is-centered">
    <button class="button is-block is-info">Wyszukaj!</button>
  </div>
</form>
<br />
<br />

{% endblock %}
