{% extends "base.html" %} {% block content %}

<h2>
  <a href="{{ url_for('main.index') }}"> Powrót do strony głównej </a>
</h2>
<br /><br />
<h1 class="title">
  Dla numerów PKD {{ pkd }} i lokalizacji znaleziono następujące wyszukiwania.
</h1>

{% if is_3w == True %}
<article class="message is-info is-big">
  <div class="message-header">
    <p>Ważna informacja! Twoja potencjalna firma kwalifikuje się do technologii 3W</p>
  </div>
  <div class="message-body">
    Twoja potencjalna firma kwalifikuje się do technologii
    <strong>3W (woda, węgiel, wodór).</strong> To przyszłościowa technologia, dla której
    możesz uzyskać znaczne wsparcie. Po prostu wejdż
    <a href="https://idea3w.org/" target="_blank" class="text">tutaj</a> i korzystaj ze
    wsparcia!
  </div>
</article>
{% endif %}

<h1>Rezultat wyszukiwania:</h1>
<br /><br />

{% for item in results %}

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>

<tr>
  <td>
    <div class="card">
      <header class="card-header">
        <div class="columns" style="width: 100%; margin-left: 0; margin-right: 0;">
          <div class="column">
            <h1>
              <p class="card-header-title" style="font-size: 30px">
                {{item.nazwa_dotacji}}
              </p>
            </h1>
          </div>
          <div class="column" style="display: flex; justify-content: end; padding-top: .75rem; padding-bottom: .75rem; padding-right: 0rem;">
            <div class="table-container">
              <table class="table is-bordered">
                <tr style="color: #fff; background-color: #0c620a">
                  <td style="color: #fff">Kwota</td>
                  <td style="color: #fff">{{item.kwota}}</td>
                </tr>
                <tr>
                  <td>Max. equity</td>
                  <td><strong>{{item.equity}} %</strong></td>
                </tr>
                <tr>
                  <td>Min. wkład</td>
                  <td><strong>{{item.wklad_wlasny}} %</strong></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </header>

      <div class="card-content">
        <div class="content has-text-centered">
          <center>
            <p
              class="card-header-title"
              style="font-size: 20px; justify-content: center"
            >
              Finansowanie na: {% for element in item.cel %} {{element}}; {% endfor %}
              <br />
              Koniec przyjmowania wniosków: {{item.koniec_zgloszen}}. Start projektu:
              {{item.poczatek_projektu}}
            </p>
          </center>
        </div>
        <div class="columns">
          <div class="column">
            <strong>Nabór </strong><br />
            {% if item.otwarty == True %}
            <center>
              <figure class="image is-64x64">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Check-Logo.png"
                />
              </figure>
              <br />
            </center>
            Otwarty {% else %}
            <center>
              <figure class="image is-64x64">
                <img
                  src="https://icon-library.com/images/uncheck-icon/uncheck-icon-12.jpg"
                />
              </figure>
              <br />
            </center>
            Zamknięty {% endif %}
          </div>
          <div class="column">
            <strong>Dotacja:</strong> <br />
            {% if item.zwrotna == True %}
            <center>
              <figure class="image is-64x64">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Check-Logo.png"
                />
              </figure>
              <br />
            </center>
            Bezzwrotna {% else %}
            <center>
              <figure class="image is-64x64">
                <img
                  src="https://icon-library.com/images/uncheck-icon/uncheck-icon-12.jpg"
                />
              </figure>
              <br />
            </center>
            Zwrotna {% endif %}
          </div>
          <div class="column">
            <strong>Konsorcjum </strong> <br />
            {% if item.konsorcjum == False %}
            <center>
              <figure class="image is-64x64">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Check-Logo.png"
                />
              </figure>
              <br />
            </center>
            Niewymagane {% else %}
            <center>
              <figure class="image is-64x64">
                <img
                  src="https://icon-library.com/images/uncheck-icon/uncheck-icon-12.jpg"
                />
              </figure>
              <br />
            </center>
            Wymagane {% endif %}
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <a href="{{item.url}}" target="_blank" class="card-footer-item"
          >Przejdź do strony źródłowej</a
        ><br />
        <br />
      </footer>
      <button type="button" class="collapsible" style="width: 100%">
        Pokaż materiały
      </button>
      <div class="content" style="display: none; overflow: hidden;" align="left">
        {% for file in item.files %}
        <a href="{{file[0][1:-1]}}" target="_blank">
          <figure class="image is-16x16 is-centered is-inline-block">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/833px-PDF_file_icon.svg.png"
            />
          </figure>
        </a>
        {{file[1]}} <br />
        {% endfor %}
      </div>
      <div class="content" style="overflow: hidden">
        <p>{{item.file}}</p>
      </div>
    </div>
  </td>
  <br />
</tr>
{% endfor %} {% if is_3w == False %}

<article class="message">
  <div class="message-header has-text-centered">
    <p>Wsparcie dla technologii 3W</p>
  </div>
  <div class="message-body">
    Pamiętaj że zawsze możesz przekształcić swoją firmę na działającą w kręgu źródeł
    <strong>3W (woda, węgiel, wodór).</strong> To przyszłościowa technologia, dla której
    możesz uzyskać znaczne wsparcie. Po więcej informacji wejdź
    <a href="https://idea3w.org/" target="_blank" class="text">tutaj</a>
  </div>
</article>

{% endif %} {% endblock %}
